{% extends 'base.html' %}
{% block title %}
   Home -
{% endblock title %}
{% block body %}
  

 <div class="container">
   <h2>Add your Tasks Here....</h2>
   <form action="/" method="post">
     <div class="mb-3">
       <label for="todotitle" class="form-label">Enter The Task Name:</label>
       <input type="text" class="form-control" name="title"  id="todotitle" aria-describedby="todotilte">
       <div id="todoHelp" class="form-text">Keep the Title Clean and Concised</div>
      </div>
      <div class="mb-3">
        <label for="tododesc" class="form-label">Enter The task description:</label>
        <input type="text" class="form-control" name="desc" id="tododesc">
      </div>
      
      <button type="submit" class="btn btn-primary">Submit</button>
      </form>
 </div>
    <div class="container my-3">
      
      
      {% if allTodo|length==0 %}
      <div class="container  text-center my-5">
        <h2><i>No Todos Yet</i></h2></div>
        {% else %}
        <h2>Tasks to be Completed...</h2>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Sno</th>
              <th scope="col">Title</th>
              <th scope="col">Description</th>
              <th scope="col">Time</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            
            
            
            {% for todo in allTodo %}
            
            
            <tr>
              <th scope="row">{{loop.index}}</th>
              <td>{{todo.title}}</td>
              <td>{{todo.desc}}</td>
              <td>{{todo.date_created}}</td>
              <td>
                <a href="/update/{{todo.sno}}"><button type="button" class="btn btn-outline-success mx-1">Update</button></a><a href="/delete/{{todo.sno}}"><button type="button" class="btn btn-outline-danger mx-1">Delete</button></a></td>
                
                
              </tr>
              {% endfor %}
              
              {% endif %}
            </tbody>
          </table>
        </div>
       
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    
        {% endblock body %}